{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Welcome to My Portfolio!</h1>
        <p>Today is {{ today }}</p>
        
        <p>Hello! I'm Aron Ayub, a passionate software developer with experience in building innovative projects and smart solutions. I specialize in full-stack development and have a keen interest in machine learning and AI. Here, you can explore some of my work, read my thoughts on technology, and learn more about my journey.</p>
        
        <a href="{% url 'notes.list' %}" class="btn btn-primary mb-5">Check out Smart Projects/Notes</a>
        
        <!-- Remove the social media icons -->
    </div>
{% endblock %}
