html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    background-color: hwb(208 70% 5%);
}
.logo-button {
    font-size: 1.2rem;
    /* Smaller font size */
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #ffffff;
    /* White color for the logo text */
    cursor: pointer;
    padding: 0;
    text-align: left;
}

.logo-button .solutions {
    color: #ff6347;
    /* Color for the "Solutions" part */
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;
    margin-top: auto;
    /* Pushes footer to the bottom */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ensures space between logo and reserved text */
}

footer .left-content {
    display: flex;
    align-items: center;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    /* Adds gap between social icons */
    margin-left: 200px;
    /* Adds space between logo and social icons */
}